<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>login</title>
</head>
<body>
	<form method="POST">
		<input type="text" name="userName" class="name">
		<input type="password" name="password" class="pass">
		<button type="submit" class="submit">click</button>
	</form>

	<script>
		// var button = document.querySelector('.submit');
		// button.addEventListener('click', function(e) {
		// 	var nameCookie = document.querySelector('.name');
		// 	var passCookie = document.querySelector('.pass');
		// 	var valName = nameCookie.value;
		// 	var valPass = passCookie.value;

		// 	var cookie = `${valName}=${valPass}`;

		// 	document.cookie = cookie;
		// 	alert(document.cookie);
		// })
	</script>
</body>
</html>